# Data Collections 2 (Dictionaries, Sets)

## Tasks Today:

1) Dictionary <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring (key, value) <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Accessing Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; ------ Exercise #1 - Print the eye color of each person in a double nested dict <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Adding New Pairs <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Modifying Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Removing Key, Value Pairs <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) Looping a Dictionary <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Looping Only Keys <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Looping Only Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; ------ Exercise #2 - Create a Function that Prints All Key Value Pairs within a print .format()  <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) sorted() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Lists with Dictionaries <br>
 &nbsp;&nbsp;&nbsp;&nbsp; k) Dictionaries with Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; l) Dictionaries with Dictionaries <br>
 &nbsp;&nbsp;&nbsp;&nbsp; ------ Exercise #3 - Write a Function that asks someone's name and address, and then stores that into a dictionary, which prints all names and addresses after they're done putting information in...  <br>
2) Dictionaries vs. Lists (over time)<br>
3) Set <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) .add() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .union() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .intersection() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .difference() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Frozen Set <br>

5) Exercises <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Address Book Program <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Best Times to Meet <br>

#### Warm Up

Given the list `address_book`, create a function that accepts a name (first or last or both) and returns the phone number of that name in the `address_book`. If the name is not in `address_book`, return -1.<br>

Ex. 1<br>
name = 'Hank'<br>
Expected Output: '(555) 555-1234'<br>

Ex. 2<br>
name = 'Tevin'<br>
Expected Output: '(333) 333-3245'<br>

Ex. 3<br>
name = 'Brian'<br>
Expected Output: -1<br>

In [31]:
address_book = [
    ('Hank', 'Mardukas', '123 Real Street', '(555) 555-1234'),
    ('Peter', 'Klaven', '321 Fake Street', '(555) 555-4321'),
    ('Sydney', 'Fife', '555 Santa Monica Drive', '(222) 222-6789'),
    ('Tevin', 'Downey', '100 Rodeo Blvd', '(333) 333-3245')
]

def phone_number(name, book):
    for person in book:
        if person[0] == name:
            return person[3]
    return -1

print(phone_number('Hank', address_book))

(555) 555-1234

## Dictionary <br>
<p>A collection of data with 'key:value' pairs. Dictionaries are ordered as of Python 3.6</p>

##### Declaring (key, value)

In [32]:
# Syntax: a_dict = {} or a_dict = dict() or a_dict = {'key': value, ...}
d_1 = {}
print(d_1)
print(type(d_1))

d_2 = dict()
print(d_2)
print(type(d_2))



d_3 = {
    'Hank' : '123 Real Street',
    'Peter' : '321 Fake Street',
    'Sydney' : '555 Santa Monica Drive',
    'Tevin' : '100 Rodeo Blvd'
}

print(d_3)
print(type(d_3))

{}
<class 'dict'>
{}
<class 'dict'>
{'Hank': '123 Real Street', 'Peter': '321 Fake Street', 'Sydney': '555 Santa Monica Drive', 'Tevin': '100 Rodeo Blvd'}
<class 'dict'>

##### Accessing Values

In [33]:
# dict[key]

d_3['Hank']

'123 Real Street'

In [34]:
d_3['Tevin']

'100 Rodeo Blvd'

In [35]:
d_3['Juan']

KeyError: 'Juan'

##### .get()

In [39]:
# dict.get('key') or dict.get('key', value_if_no_key)
print(d_3.get('Peter'))
print(d_3.get('Juan'))
print(d_3.get('Juan', 'No address for that person'))

321 Fake Street
None
No address for that person

## In-Class Exercise #1 - Print a formatted statement from the dictionary below <br>
<p>The output should be 'My favorite car is a 2018 Chevrolet Silverado'</p>

In [60]:
# use the dict below
truck = {
    'year': 2018,
    'make': 'Chevrolet',
    'model': 'Silverado'
}

print(f"My favorite truck is a {truck.get('year')} {truck['make']} {truck['model']}")

My favorite truck is a 2018 Chevrolet Silverado

##### Adding New Pairs

In [61]:
# dict[key] = value

d_3['Zooey'] = '151 Main St.'

d_3

{'Hank': '123 Real Street',
 'Peter': '321 Fake Street',
 'Sydney': '555 Santa Monica Drive',
 'Tevin': '100 Rodeo Blvd',
 'Zooey': '151 Main St.'}

##### Modifying Values

In [64]:
# dict[key] = value

d_3['Zooey'] = '321 Fake Street'

d_3

{'Hank': '123 Real Street',
 'Peter': '321 Fake Street',
 'Sydney': '555 Santa Monica Drive',
 'Tevin': '100 Rodeo Blvd',
 'Zooey': '321 Fake Street'}

##### Removing Key, Value Pairs

In [68]:
# del dict[key]
del d_3['Tevin']
d_3

KeyError: 'Tevin'

##### Looping a Dictionary

In [73]:
# .items() --> List of tuples --> tuples =>('key', value)

a, b, c = 1, 2, 3
print(a)
print(b)
print(c)

    
for x in d_3.items():
    print(x)
    print(type(x))

1
2
3
('Hank', '123 Real Street')
<class 'tuple'>
('Peter', '321 Fake Street')
<class 'tuple'>
('Sydney', '555 Santa Monica Drive')
<class 'tuple'>
('Zooey', '321 Fake Street')
<class 'tuple'>

In [76]:
for k, value in d_3.items():
    print(f'key: {k} - Value: {value}')

key: Hank - Value: 123 Real Street
key: Peter - Value: 321 Fake Street
key: Sydney - Value: 555 Santa Monica Drive
key: Zooey - Value: 321 Fake Street

##### Looping Only Keys

In [78]:
# .keys()
# for i in d_3:
#     print(i)
d_3.keys()

for k in d_3.keys():
    print(k)

Hank
Peter
Sydney
Zooey

In [79]:
for i in d_3:
    print(i)

Hank
Peter
Sydney
Zooey

##### Looping Only Values

In [81]:
# .values()

d_3.values()

for v in d_3.values():
    print(v)

123 Real Street
321 Fake Street
555 Santa Monica Drive
321 Fake Street

In [82]:
for k in d_3.keys():
    print(k, [d_3[k]])

Hank 123 Real Street
Peter 321 Fake Street
Sydney 555 Santa Monica Drive
Zooey 321 Fake Street

## In-Class Exercise #2 - Create a Function that Prints All Key Value Pairs within a print .format() <br>
<p><b>Output should be:</b><br>
Max has blue eyes<br>
Lilly has brown eyes<br>
Barney has blue eyes<br>
etc.
</p>

In [97]:
# use the dict below

people = {
    'Max': 'blue',
    'Lilly': 'brown',
    'Barney': 'blue',
    'Larney': 'brown',
    'Ted': 'purple'
}

def eyes():
    for k in people.keys():
        print(f'{k} has {people[k]} eyes')
eyes()

Max has blue eyes
Lilly has brown eyes
Barney has blue eyes
Larney has brown eyes
Ted has purple eyes

In [100]:
def print_eyes(a_dict):
    for key, value in a_dict.items():
        print(f"{key} has {value} eyes")
        
print_eyes(people)

Max has blue eyes
Lilly has brown eyes
Barney has blue eyes
Larney has brown eyes
Ted has purple eyes

##### sorted()

In [103]:
# sorts variables in order
# sorted(dict.values()) or dict.keys() or dict.items()
print(sorted(people.items()))
print(sorted(people.keys()))
print(sorted(people.values()))
print(sorted(people))

[('Barney', 'blue'), ('Larney', 'brown'), ('Lilly', 'brown'), ('Max', 'blue'), ('Ted', 'purple')]
['Barney', 'Larney', 'Lilly', 'Max', 'Ted']
['blue', 'blue', 'brown', 'brown', 'purple']
['Barney', 'Larney', 'Lilly', 'Max', 'Ted']

##### List with Dictionaries

In [105]:
a_list = ['Hello', 'Goodbye', {'name': 'Ted', 'age': 22}]

print(a_list)
print(a_list[2])
print(type(a_list[2]))

print(a_list[2]['name'])

['Hello', 'Goodbye', {'name': 'Ted', 'age': 22}]
{'name': 'Ted', 'age': 22}
<class 'dict'>
Ted

In [106]:
a_list[2]['height'] = "6'0"

print(a_list)

['Hello', 'Goodbye', {'name': 'Ted', 'age': 22, 'height': "6'0"}]

##### List of Dictionaries

In [109]:
movies = [
    {'title' : 'Inception', 'director': 'Christopher Nolan', 'release_year': 2010},
    {'title' : 'The Social Network', 'director': 'David Fincher', 'release_year': 2010},
    {'title' : 'The Departed', 'director': 'Martin Scorsese', 'release_year': 2006},
    {'title' : 'Parasite', 'director': 'Bong Joon Ho', 'release_year': 2019}
]

print(movies)

[{'title': 'Inception', 'director': 'Christopher Nolan', 'release_year': 2010}, {'title': 'The Social Network', 'director': 'David Fincher', 'release_year': 2010}, {'title': 'The Departed', 'director': 'Martin Scorsese', 'release_year': 2006}, {'title': 'Parasite', 'director': 'Bong Joon Ho', 'release_year': 2019}]

In [111]:
for m in movies:
    print(m['director'])

Christopher Nolan
David Fincher
Martin Scorsese
Bong Joon Ho

##### Dictionaries with Lists

In [114]:
# be careful when using numbers as keys in dictionaries, don't confuse them with indexes
random_data = {
    'list1': [54, 33, 22, 66, 234],
    2: ['blue', 'green', 'orange']
}

print(random_data['list1'])

[54, 33, 22, 66, 234]

In [115]:
print(random_data[2])

['blue', 'green', 'orange']

##### Dictionaries with Dictionaries

In [121]:
# to get values, must traverse through keys
my_shoppe = {
    'ice_cream': {
        'vanilla': 2.99,
        'chocolate': 2.99,
        'oreo': 3.99
    },
    'milkshake': {
        'vanilla': 3.99,
        'chocolate': 3.99,
        'orea': 4.99
    }
}

print(my_shoppe['ice_cream']['oreo'])

3.99

In [118]:
my_shoppe.keys()

dict_keys(['ice_cream', 'milkshake'])

In [123]:
print(my_shoppe['milkshake']['chocolate'])

3.99

In [130]:
job_app = {
    'full_name': 'Jimmy Smith',
    'email': 'jsmith@email.com',
    'prog_languages': [
        {
            'name': 'Python',
            'proficiency': 8
        },
        {
            'name': 'JavaScript',
            'proficiency': 5
        }
    ],
    'experience': [
        {
            'company': 'Omnicorp',
            'position': 'bossman',
            'years_at_company': [2010, 2011, 2012, 2013]
        },
        {
            'company': 'AlphaInc',
            'position': 'QA Tester',
            'years_at_company': [2014, 2015, 2016]
        }
    ],
    'citizen': True
}
print(job_app)

{'full_name': 'Jimmy Smith', 'email': 'jsmith@email.com', 'prog_languages': [{'name': 'Python', 'proficiency': 8}, {'name': 'JavaScript', 'proficiency': 5}], 'experience': [{'company': 'Omnicorp', 'position': 'bossman', 'years_at_company': [2010, 2011, 2012, 2013]}, {'company': 'AlphaInc', 'position': 'QA Tester', 'years_at_company': [2014, 2015, 2016]}], 'citizen': True}

In [131]:
print(job_app['prog_languages'][0]['proficiency'])

8

In [128]:
# How many years did Jimmy Smith work at AlphaInc?
len(job_app['experience'][1]['years_at_company'])

3

In [129]:
len([2014, 2015, 2016])

3

## Dictionaries vs. Lists (over time) Example of RUNTIME
### When inputting values in a Dictionary vs List

In [137]:
import time


# generate fake dictionary
d = {}

for i in range(10000000):
    d[i] = 'value'
    

# generate fake list
big_list = [x for x in range(10000000)]

In [138]:
# tracking time for set
start_time = time.time()

print(9999999 in d)

end_time = time.time()

elapsed_time = end_time - start_time

print(f'Elapsed time for dictionary: {elapsed_time}')


# tracking time for list
start_time = time.time()

print(9999999 in big_list)

end_time = time.time()

elapsed_time = end_time - start_time

print(f'Elapsed time for list: {elapsed_time}')

True
Elapsed time for dictionary: 0.0
True
Elapsed time for list: 0.1284637451171875

## Set <br>
<p>A Set is an unordered collection data type that is iterable (loop), mutable, and has no duplicate elements.<br>Major advantage is that it is highly optimized in checking if something is in the set, as opposed to checking if something is in a list.</p>

##### Declaring

In [140]:
# set() or {,}
set1 = set()
print(set1)
print(type(set1))

set()
<class 'set'>

In [142]:
set2 = {}
print(set2)
print(type(set2))

{}
<class 'dict'>

In [143]:
nums = {4, 1, 6, 4}
print(nums)
print(type(nums))

{1, 4, 6}
<class 'set'>

##### .add()

In [144]:
# set.add(value_to_add)

nums.add(56)

print(nums)

{56, 1, 4, 6}

##### .remove()

In [150]:
nums.remove(56)
print(nums)

KeyError: 56

In [152]:
for item in nums:
    print(item)

1
4
6

##### .union()

In [155]:
# Returns a union of two sets, can also use '|' or set.union(set)
# joins all numbers, gets rid of duplicates
s1 = {1,2,3,4}
s2 = {3,4,5,6}

s3 = s1.union(s2)
print(s3)

# OR

s4 = s2 | s1
print(s4)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

##### .intersection()

In [157]:
# Returns an intersection of two sets, can also use '&'
# only takes similar elements from both sets

s5 = s1.intersection(s2)
print(s5)

s6 = s2 & s1
print(s6)

{3, 4}
{3, 4}

##### .difference()

In [160]:
# Returns a set containing all the elements of invoking set that are not in the second set, can also use '-'
# only takes values from the first set that are not in the second set
# order matters

s7 = s1.difference(s2)
print(s7)

s8 = s2.difference(s1)
print(s8)

{1, 2}
{5, 6}

In [162]:
s9 = s1 - s2
print(s9)

s10 = s2 - s1
print(s10)

{1, 2}
{5, 6}

In [166]:
#### .symmetric_difference()
# The elements that are in only ONE of the sets
# can also use the '^' operator

s11 = s1.symmetric_difference(s2)
print(s11)

s12 = s1 ^ s2
print(s12)

{1, 2, 5, 6}
{1, 2, 5, 6}

##### .clear()

In [168]:
# Empties the whole set
# set.clear()
nums.clear()

print(nums)

set()

##### Frozenset <br>
<p>Frozen sets are immutable objects that only support methods and operators that produce a result without affecting the frozen set or sets to which they are applied.</p><br><b>Unique & Immutable</b>

In [173]:
# frozenset([])
my_frozen_set = frozenset([1,2,2,2,3,56])

print(my_frozen_set)

for i in my_frozen_set:
    print(i)

frozenset({56, 1, 2, 3})
56
1
2
3

In [174]:
my_frozen_set.add(43)

AttributeError: 'frozenset' object has no attribute 'add'

In [169]:
import time
# generate fake set
big_set = {i for i in range(10000000)}
    

# generate fake list
big_list = [x for x in range(10000000)]

In [170]:
# tracking time for set
start_time = time.time()

print(9999999 in big_set)

end_time = time.time()

elapsed_time = end_time - start_time

print(f'Elapsed time for set: {elapsed_time}')


# tracking time for list
start_time = time.time()

print(9999999 in big_list)

end_time = time.time()

elapsed_time = end_time - start_time

print(f'Elapsed time for list: {elapsed_time}')

True
Elapsed time for set: 0.0
True
Elapsed time for list: 0.10763192176818848

# Exercises

### 1) Create a program that allows a user to continue to add people to an address book until the user quits. Once the user quits, break out of the loop and print out the name and address of everyone in the address book

###### Steps
1. Create a function that will ask user for name and addresses and stores them in a dictionary
2. Define an empty dictionary with which to work (global or local variable?)
3. Begin a loop that will continue to ask a user for information until the user "quits"
4. If the user does not quit, ask for a name and address and store the values into variables
5. Add information to the dictionary with name as the key and address as the value
6. If the user does quit, end the loop
7. Print out the information from the dictionary in a formatted way
8. Execute/Call the function

In [36]:
from IPython.display import clear_output

def user_input():
    address_book = {}
    choice = "add"
    while choice.lower() != "quit":
        choice = input("Would you like to add or quit?:")
        if choice.lower() == "add":
            name = input("Enter a name:")
            address = input("Enter an address:")
            address_book[name] = address
        elif choice.lower() != "quit":
            print("Invalid option.")   
    clear_output()
    for key, value in address_book.items():
        print(f'Name: {key.title()}')
        print(f'Address: {value.title()}')
        
user_input()

Name: Juan
Address: 123 Fake

### 2) Best Time to Meet

Billy is trying to figure out if there is a time that he and his team can meet to work on the project. His three teammates each give him a list of times they are available ('HH:MM' 24-hour). Create a function that will take in the list of all the teammates and return a list of times where everyone can meet.

In [17]:
bt = ['09:00', '10:30', '11:30', '12:00', '13:00', '14:30']
t1 = ['09:30', '10:00', '10:30', '12:00', '14:30', '16:00']
t2 = ['09:00', '09:30', '11:00', '11:30', '12:00', '13:30', '14:30', '15:00']
t3 = ['11:00', '11:30', '12:00', '14:00', '14:30', '16:30', '17:00']
# Available Times: '12:00' and '14:30'

# def time_to_meet(t1, t2, t3, t4):
#     t1 = set(t1)
#     t2 = set(t2)
#     t3 = set(t3)
#     t4 = set(t4)
#     meeting = t1 & t2 & t3 & t4
#     return meeting
    
# time_to_meet(bt,t1,t2,t3)


def avaible_times(t1, t2, t3, t4):
    time_sets = set(t1) & set (t2) & set(t3) & set(t4)
    return [time for time in time_sets] 

avaible_times(bt,t1,t2,t3)

['12:00', '14:30']